<h1>view for user details</h1>

<div>
  <h1><%=current_user.name%></h1>
  <h2><%="No of Foods available: #{current_user.foods.length}"%></h2>
  <h2><%="No of Recipies available: #{current_user.recipes.length}"%></h2>
</div>