* {
  text-decoration: none;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.f-col {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-around {
  justify-content: space-between;
}

.button {
  justify-content: flex-end;
}
