.p-c {
  width: 90vw;
  color: black;
  border: 2px solid black;
  margin-top: 30px;
}

.public-recipe-name-delete {
  margin-bottom: 20px;
  row-gap: 15px;
}

.public-recipe-name-delete h1,
h2 {
  text-transform: capitalize;
  font-size: 25px;
}

.public-recipe-food-desc {
  row-gap: 20px;
}

.public-recipe-food-desc p {
  font-size: 25px;
  color: black;
  font-weight: 400;
}
